[submodule "themes/sublime"]
	path = themes/sublime
	url = https://github.com/dt801ts/sublime-hugo-theme.git
[submodule "themes/hellofriend"]
	path = themes/hellofriend
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
